<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="any.audio">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="any.audio.ErrorSplash"
            android:label="@string/title_activity_error_splash" >
        </activity>
        <activity
            android:name="any.audio.Home"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="any.audio.TestAct"
            android:label="@string/title_activity_test" >

        </activity>

        <activity
            android:name="any.audio.DowloadsActivity"
            android:label="@string/activity_downloads"
            android:parentActivityName="any.audio.Home">

        </activity>

        <activity
            android:name="any.audio.UserPreferenceSetting"
            android:configChanges="orientation"
            android:label="@string/activity_preferences"
            android:parentActivityName="any.audio.Home">

        </activity>

    </application>

</manifest>
